<template>
  <div id="app">
    <a title="Home — Unsplash" href="https://unsplash.com/" target="_blank"><svg class="_2m4hn" version="1.1" viewBox="0 0 32 32" width="32" height="32" aria-labelledby="unsplash-home" aria-hidden="false"><title id="unsplash-home">Unsplash Home</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></a>

    <div class="photo-wrapper">

          <a class="image-card" v-for="photo in photos" v-bind:key="photo.id"  v-bind:href=photo.url target="_blank">
            <div
            v-bind:style="{ backgroundImage: 'url(https://picsum.photos/id/' + photo.id + '/367/267)' }"
            href="http://google.com">
              <p class="author">[#{{ photo.id }}] {{ photo.author }}</p>
            </div>
          </a>
          
    </div>

    <div id="pagination">
      <p class="btn" v-on:click="prev">&lt;</p>
      <p class="btn"> {{ page }}</p>
      <p class="btn" v-on:click="next">></p>
    </div>
    
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'HelloWorld',
  props: {
    photos: null,
    page: Number
  },
  methods: {
    prev: function () {
      if (this.page > 1) { 
        this.page --;
        this.getPhotos();
      }

    },
    next: function () {
      if (this.page < 99) { 
        this.page ++;
        this.getPhotos();
      }
    },
    getPhotos: function () {
      axios
      .get('https://picsum.photos/v2/list?page=' + this.page + '&limit=50')
      .then(response => (this.photos = response.data));
    }
  },
  mounted () {
    this.page = 1;
    this.getPhotos();
  },
}
</script>


<style scoped>
#app{
  displaY: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
a{text-decoration: none}
#pagination{
  display:flex;
}
.btn{
  width: 30px;
  height:30px;
  display: flex;
  border-radius: 5px;
  border: solid 1px black;
  align-items: center;
  justify-content: center;
  margin: 2px;
}
.photo-wrapper{
  display: flex;
  width: 100%;
  
  flex-flow: row wrap;
}
.image-card{
  border-radius: 10px;
  opacity: .8;
  height: 500px;
  margin: 10px;
  flex: 0 1 calc(20% - 20px);
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  transition: all .5s;

}
.image-card div{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
}
.image-card:hover{
  opacity: 1;
  transform: translate(0, -10px);
  -webkit-box-shadow: 0 10px 20px -6px #777;
	-moz-box-shadow: 0 10px 20px -6px #777;
  box-shadow: 0 10px 20px -6px #777;
}
.author{
  align-self: flex-end;
  margin-left: 20px;
  background-color: rgba(0,0,0,.5);
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-overflow: ellipsis;
  text-decoration: none
}
</style>