<template>
  <div id="app">
    <images-list></images-list>
  </div>
</template>

<script>
import ImagesListMain from './components/ImagesListMain.vue'

export default {
  name: 'app',
  components: {
    'images-list': ImagesListMain
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>

